Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update version.h
  common/version.h
Due: cppcheck

Update longitudinal_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  cereal/log.capnp
  docs/assets/three-back.svg
Due: none

update
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

UPDATE
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

Update longcontrol.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

Toyota stock long
  common/params_keys.h
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  system/manager/manager.py
Due: mypy, cppcheck

rl
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update uv.lock
  uv.lock
Due: none

Update selfdrived.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

back to TR7
  common/version.h
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
  selfdrive/modeld/parse_model_outputs.py
Due: mypy, cppcheck

update
  selfdrive/car/card.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/assets/icons/acc_change.png
  selfdrive/assets/icons/distance.png
  selfdrive/assets/icons/lane.png
  selfdrive/assets/icons/mute.png
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

Update settings.cc
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

downhill
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

revert back to TR7
  common/version.h
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
  selfdrive/modeld/parse_model_outputs.py
Due: mypy, cppcheck

update
  selfdrive/modeld/modeld.py
Due: mypy

update
  selfdrive/locationd/lagd.py
  selfdrive/modeld/modeld.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
