Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=420']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)|(selfdrive/mapd/test/.*.xml)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+whitespace/parens,+whitespace/semicolon,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

MTSC
  cereal/custom.capnp
  common/params_keys.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/smart_cruise_control/map_controller.py
  top/selfdrive/controls/lib/smart_cruise_control/smart_cruise_control.py
  top/selfdrive/controls/lib/smart_cruise_control/tests/test_map_controller.py
Due: mypy, cppcheck

red light detect improve
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

sla
  cereal/custom.capnp
  cereal/log.capnp
  selfdrive/car/card.py
  selfdrive/car/cruise.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/offroad/speed_limit/helpers.h
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.cc
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.h
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  top/selfdrive/assets/icons/star-empty.png
  top/selfdrive/assets/icons/star-filled.png
  top/selfdrive/assets/img_minus_arrow_down.png
  top/selfdrive/assets/img_plus_arrow_up.png
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/smart_cruise_control/smart_cruise_control.py
  top/selfdrive/controls/lib/speed_limit/__init__.py
  top/selfdrive/controls/lib/speed_limit/common.py
  top/selfdrive/controls/lib/speed_limit/helpers.py
  top/selfdrive/controls/lib/speed_limit/speed_limit_assist.py
  top/selfdrive/controls/lib/speed_limit/tests/test_speed_limit_assist.py
Due: mypy, cppcheck

Update custom.capnp
  cereal/custom.capnp
Due: none

update
  selfdrive/car/cruise.py
  selfdrive/selfdrived/events.py
  third_party/mapd_pfeiferj/mapd
  top/mapd/mapd_installer.py
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/speed_limit/speed_limit_assist.py
Due: mypy

Update speed_limit_assist.py
  top/selfdrive/controls/lib/speed_limit/speed_limit_assist.py
Due: mypy

Update longitudinal_planner.py
  top/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update longitudinal_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update test_alerts.py
  selfdrive/selfdrived/tests/test_alerts.py
Due: mypy

Revert "Update test_alerts.py"
  selfdrive/selfdrived/selfdrived.py
  selfdrive/selfdrived/tests/test_alerts.py
Due: mypy

Reapply "Update test_alerts.py"
  selfdrive/selfdrived/selfdrived.py
  selfdrive/selfdrived/tests/test_alerts.py
Due: mypy

Update selfdrived.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

Update speed_limit_settings.cc
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.cc
Due: cppcheck

Update process_replay.py
  selfdrive/test/process_replay/process_replay.py
Due: mypy

update
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.cc
Due: mypy, cppcheck

Update main_zh-CHT.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

update
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

update
  selfdrive/ui/qt/offroad/speed_limit/helpers.h
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_policy.cc
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.cc
Due: cppcheck

Update osm_panel.cc
  selfdrive/ui/qt/offroad/osm_panel.cc
Due: cppcheck

Update hud.cc
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

update
  selfdrive/selfdrived/selfdrived.py
  top/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/ui/translations/main_zh-CHT.ts
  top/selfdrive/controls/lib/speed_limit/speed_limit_resolver.py
Due: mypy

update
  top/selfdrive/controls/lib/speed_limit/speed_limit_assist.py
  top/selfdrive/controls/lib/speed_limit/tests/test_speed_limit_assist.py
Due: mypy
