Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

mapd1
  selfdrive/locationd/paramsd.py
  selfdrive/mapd.py
Due: mypy

mapd2
  selfdrive/locationd/paramsd.py
  selfdrive/mapd.py
Due: mypy

Update navd.py
  selfdrive/navd/navd.py
Due: mypy

Update car_helpers.py
  selfdrive/car/car_helpers.py
Due: mypy

Update paramsd.py
  selfdrive/locationd/paramsd.py
Due: mypy

Update mapd.py
  selfdrive/mapd.py
Due: mypy

update
  system/fleetmanager/fleet_manager.py
  system/fleetmanager/helpers.py
  system/fleetmanager/templates/addr.html
  system/fleetmanager/templates/addr_input.html
  system/fleetmanager/templates/amap_addr_input.html
  system/fleetmanager/templates/amap_key_input.html
  system/fleetmanager/templates/app_token_input.html
  system/fleetmanager/templates/gmap_key_input.html
  system/fleetmanager/templates/index.html
  system/fleetmanager/templates/nav_confirmation.html
  system/fleetmanager/templates/nav_directions.html
  system/fleetmanager/templates/nonprime.html
  system/fleetmanager/templates/prime.html
  system/fleetmanager/templates/public_token_input.html
Due: mypy

Update layout.html
  system/fleetmanager/templates/layout.html
Due: none

UPDATE
  system/fleetmanager/fleet_manager.py
  system/fleetmanager/helpers.py
Due: mypy

Update annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.cc
Due: cppcheck

Update annotated_camera.h
  selfdrive/ui/qt/onroad/annotated_camera.h
Due: cppcheck

Update params.cc
  common/params.cc
Due: cppcheck

UPDATE
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
Due: mypy, cppcheck

Update car.capnp
  cereal/car.capnp
Due: none

update
  selfdrive/car/card.py
  selfdrive/controls/controlsd.py
  selfdrive/selfdrived/events.py
Due: mypy

Update main_de.ts
  selfdrive/ui/translations/main_de.ts
Due: none

update
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
Due: none

update
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

update
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

u
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Update controlsd.py
  selfdrive/controls/controlsd.py
Due: mypy

Update
  selfdrive/controls/controlsd.py
  selfdrive/selfdrived/events.py
Due: mypy

Update hud.cc
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
