Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

update
  selfdrive/car/toyota/carcontroller.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: mypy

update
  selfdrive/controls/controlsd.py
Due: mypy

Update SConscript
  selfdrive/ui/SConscript
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

update
  launch_env.sh
  system/hardware/tici/agnos.json
Due: none

e
  launch_env.sh
  selfdrive/controls/lib/longitudinal_planner.py
  system/hardware/tici/agnos.json
Due: mypy

update
  selfdrive/car/toyota/carcontroller.py
  selfdrive/controls/controlsd.py
Due: mypy

update
  selfdrive/car/card.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/speed_limit_controller.py
  selfdrive/manager/process.py
  selfdrive/mapd.py
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
Due: mypy, cppcheck

update
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/tests/test_following_distance.py
  selfdrive/modeld/modeld.py
Due: mypy

update
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update interface.py
  selfdrive/car/toyota/interface.py
Due: mypy

UPDATE
  force_car_recognition.py
  launch_chffrplus.sh
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/volkswagen/values.py
Due: mypy

Update nav_settings.cc
  selfdrive/ui/qt/offroad/nav_settings.cc
Due: cppcheck

Update latcontrol_torque.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

update
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  release/files_common
  selfdrive/boardd/pandad.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/manager/process_config.py
  selfdrive/thermald/thermald.py
Due: mypy

Update onroad.h
  selfdrive/ui/qt/onroad.h
Due: cppcheck

Update mapd.py
  selfdrive/mapd.py
Due: mypy

Update software_settings.cc
  selfdrive/ui/qt/offroad/software_settings.cc
Due: cppcheck

Update settings.h
  selfdrive/ui/qt/offroad/settings.h
Due: cppcheck

update
  selfdrive/car/card.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/modeld.py
  system/manager/manager.py
  system/version.py
Due: mypy

Update build_devel.sh
  release/build_devel.sh
Due: none

Update speed_limit_controller.py
  selfdrive/controls/speed_limit_controller.py
Due: mypy

wd40
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Revert "ui: remove map & navigation related code (#32836)"
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/onroad_home.cc
  selfdrive/ui/qt/onroad/onroad_home.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

Revert "remove mapbox references (#32811)"
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
  Jenkinsfile
  selfdrive/test/process_replay/model_replay.py
Due: mypy

Revert "remove nav apt dependencies (#32792)"
  tools/install_ubuntu_dependencies.sh
Due: none

Update
  poetry.lock
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

Update
  .gitattributes
  .pre-commit-config.yaml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
