Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Revert "Update hud.cc"
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

update
  uv.lock
Due: none

Update
  selfdrive/car/card.py
  selfdrive/car/cruise.py
  selfdrive/selfdrived/events.py
  selfdrive/ui/qt/onroad/hud.cc
  top/selfdrive/controls/lib/speed_limit/speed_limit_assist.py
Due: mypy, cppcheck

Update
  selfdrive/selfdrived/selfdrived.py
  top/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

NNV Model
  common/version.h
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Due: cppcheck

Smart Cruise Control: Vision (SCC-V)
  cereal/custom.capnp
  common/params_keys.h
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/vtsc.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  selfdrive/ui/ui.cc
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/smart_cruise_control/__init__.py
  top/selfdrive/controls/lib/smart_cruise_control/smart_cruise_control.py
  top/selfdrive/controls/lib/smart_cruise_control/tests/test_vision_controller.py
  top/selfdrive/controls/lib/smart_cruise_control/vision_controller.py
Due: mypy, cppcheck

Update accel_profiles.py
  top/selfdrive/controls/lib/accel_personality/accel_profiles.py
Due: mypy

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

SLC
  cereal/custom.capnp
  cereal/log.capnp
  cereal/services.py
  common/params_keys.h
  common/util.h
  selfdrive/controls/plannerd.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/ui/SConscript
  selfdrive/ui/qt/offroad/osm_panel.cc
  selfdrive/ui/qt/offroad/osm_panel.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/offroad/speed_limit/helpers.h
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_policy.cc
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_policy.h
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.cc
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.h
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
  top/mapd/live_map_data/debug.py
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/speed_limit/__init__.py
  top/selfdrive/controls/lib/speed_limit/common.py
  top/selfdrive/controls/lib/speed_limit/speed_limit_resolver.py
  top/selfdrive/controls/lib/speed_limit/tests/__init__.py
  top/selfdrive/controls/lib/speed_limit/tests/test_speed_limit_resolver.py
Due: mypy, cppcheck

MTSC
  cereal/custom.capnp
  common/params_keys.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/smart_cruise_control/map_controller.py
  top/selfdrive/controls/lib/smart_cruise_control/smart_cruise_control.py
  top/selfdrive/controls/lib/smart_cruise_control/tests/test_map_controller.py
Due: mypy, cppcheck

red light detect improve
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

update
  selfdrive/controls/controlsd.py
  selfdrive/selfdrived/events.py
Due: mypy

Update
  selfdrive/controls/lib/longcontrol.py
Due: mypy

Update
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

Update latcontrol_torque.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

update
  pyproject.toml
  uv.lock
Due: none

no start boost
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update
  selfdrive/SConscript
Due: none

Update process_config.py
  system/manager/process_config.py
Due: mypy

back to QT
  selfdrive/SConscript
  system/manager/process_config.py
Due: mypy

update
  selfdrive/selfdrived/selfdrived.py
Due: mypy

MAPD
  selfdrive/ui/qt/offroad/osm_panel.cc
  selfdrive/ui/qt/offroad/osm_panel.h
  top/__init__.py
  top/mapd/live_map_data/base_map_data.py
  top/mapd/mapd_installer.py
  top/mapd/tests/__init__.py
  top/mapd/tests/mapd_hash
  top/mapd/tests/test_mapd_version.py
  top/mapd/update_version.py
  top/mapd/version.py
Due: mypy, cppcheck

update
  selfdrive/ui/qt/offroad/osm_panel.cc
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  top/mapd/update_version.py
Due: mypy, cppcheck

Update main_zh-CHT.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

fix macos check
  tools/mac_setup.sh
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
