Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update test_car_interfaces.py
  selfdrive/car/tests/test_car_interfaces.py
Due: mypy

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Update driving_policy.onnx
  selfdrive/modeld/models/driving_policy.onnx
Due: none

update
  common/version.h
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/modeld/models/driving_policy.onnx
Due: mypy, cppcheck

update
  common/version.h
  selfdrive/modeld/models/driving_policy.onnx
Due: cppcheck

Update version.h
  common/version.h
Due: cppcheck

Revert Torque
  common/pid.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_angle.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/tests/test_latcontrol.py
  system/hardware/fan_controller.py
Due: mypy

update
  .gitmodules
  common/pid.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_angle.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/tests/test_latcontrol.py
  sunnypilot/selfdrive/controls/lib/latcontrol_torque_ext_base.py
  sunnypilot/selfdrive/controls/lib/nnlc/nnlc.py
  sunnypilot/selfdrive/controls/lib/nnlc/tests/test_load_model.py
  sunnypilot/selfdrive/controls/lib/nnlc/tests/test_nnlc.py
  system/hardware/fan_controller.py
Due: mypy

update
  common/version.h
Due: cppcheck

Update latcontrol_torque.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

CD210
  common/version.h
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Due: cppcheck

cd210
  common/version.h
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Due: cppcheck

Update latcontrol_torque.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_angle.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/tests/test_latcontrol.py
  selfdrive/locationd/helpers.py
Due: mypy

Update test_following_distance.py
  selfdrive/controls/tests/test_following_distance.py
Due: mypy

update
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/tests/test_following_distance.py
Due: mypy

update
  selfdrive/locationd/lagd.py
  selfdrive/locationd/test/test_lagd.py
Due: mypy

Update helpers.py
  selfdrive/locationd/helpers.py
Due: mypy

lagd
  selfdrive/locationd/lagd.py
  selfdrive/locationd/test/test_lagd.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
