Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Update longitudinal_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update longcontrol.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

update
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

Update latcontrol_torque.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

Update manager.py
  system/manager/manager.py
Due: mypy

update
  selfdrive/car/card.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  system/manager/manager.py
Due: mypy

update
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  system/manager/manager.py
Due: mypy

UPDATE
  launch_chffrplus.sh
  system/hardware/tici/agnos.py
Due: mypy

update
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

avoid 'flask' black screen on first boot after a AGNOS update
  common/params.cc
  launch_env.sh
  system/manager/manager.py
  system/manager/process_config.py
Due: mypy, cppcheck

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

No positive P-response for long control if user-selected parameter set
  common/pid.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

update SB
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Update CRUISE_MIN_ACCEL
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Update params_keys.h
  common/params_keys.h
Due: cppcheck

Update launch_env.sh
  launch_env.sh
Due: none

Update launch_env.sh
  selfdrive/controls/lib/longcontrol.py
Due: mypy

update
  launch_chffrplus.sh
  launch_env.sh
Due: none

update
  selfdrive/controls/controlsd.py
  selfdrive/selfdrived/events.py
Due: mypy

Update main_ar.ts
  selfdrive/ui/translations/main_ar.ts
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
