Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

update
  selfdrive/car/card.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/locationd/helpers.py
  selfdrive/locationd/torqued.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  system/hardware/hardwared.py
Due: mypy, cppcheck

update
  .gitmodules
Due: none

Update .gitignore
  .gitignore
Due: none

update
  .gitmodules
  common/params.cc
  common/version.h
  launch_chffrplus.sh
  release/build_release1.sh
  release/identity.sh
  selfdrive/car/gm/interface.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  system/manager/manager.py
Due: mypy, cppcheck

Update interface.py
  selfdrive/car/gm/interface.py
Due: mypy

Update longcontrol.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

update
  scripts/lint/lint.sh
  selfdrive/car/car_specific.py
Due: mypy

update
  tools/op.sh
Due: none

update
  release/build_devel.sh
Due: none

update
  launch_chffrplus.sh
  launch_env.sh
  launch_openpilot.sh
  release/release_files.py
  selfdrive/car/card.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/chrysler/radar_interface.py
  selfdrive/car/ford/tests/print_platform_codes.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/radar_interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/honda/radar_interface.py
  selfdrive/car/hyundai/tests/print_platform_codes.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/mock/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/radar_interface.py
  selfdrive/car/toyota/tests/print_platform_codes.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/radard.py
  selfdrive/debug/cycle_alerts.py
  selfdrive/debug/format_fingerprints.py
  selfdrive/debug/run_process_on_route.py
  selfdrive/locationd/paramsd.py
  selfdrive/locationd/torqued.py
  selfdrive/modeld/modeld.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/test_processes.py
  system/athena/athenad.py
  system/hardware/hardwared.py
  system/manager/manager.py
  tools/joystick/joystickd.py
  tools/lib/kbhit.py
  tools/scripts/save_ubloxraw_stream.py
  tools/sim/run_bridge.py
Due: mypy

Update
  selfdrive/car/car_specific.py
  selfdrive/car/interfaces.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
Due: mypy

update
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

update
  release/build_release1.sh
  scripts/lint.sh
  selfdrive/assets/compress-images.sh
  selfdrive/assets/strip-svg-metadata.sh
  selfdrive/car/toyota/interface.py
Due: mypy

update
  selfdrive/car/car_specific.py
  selfdrive/car/structs.py
Due: mypy

Update car_specific.py
  selfdrive/car/car_specific.py
Due: mypy

Update generators.py
  common/mock/generators.py
  selfdrive/car/car_specific.py
Due: mypy

update
  selfdrive/car/car_specific.py
  selfdrive/navd/tests/test_map_renderer.py
Due: mypy

UPDATE
  SConstruct
  selfdrive/locationd/paramsd.py
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
  selfdrive/navd/navd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/test_onroad.py
  selfdrive/ui/SConscript
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Due: mypy, cppcheck

UPDATE
  selfdrive/navd/map_renderer.h
  selfdrive/navd/navd.py
  selfdrive/ui/qt/maps/map.h
Due: mypy, cppcheck

UPDATE
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
Due: cppcheck

UPDATE
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
Due: cppcheck

MAP POSE
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
Due: cppcheck

UPDATE
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
Due: cppcheck

Update map.cc
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

liveLocationKalman
  common/mock/generators.py
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
  selfdrive/navd/navd.py
  selfdrive/navd/tests/test_map_renderer.py
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
  selfdrive/ui/ui.cc
Due: mypy, cppcheck

Update paramsd.py
  selfdrive/locationd/paramsd.py
Due: mypy

Update manager.py
  system/manager/manager.py
Due: mypy

update
  release/release_files.py
  selfdrive/car/card.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Update files_common
  release/files_common
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
