Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=420']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)|(selfdrive/mapd/test/.*.xml)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+whitespace/parens,+whitespace/semicolon,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

Update hud.cc
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Update annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.cc
Due: cppcheck

update
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
Due: cppcheck

Update onroad_home.cc
  selfdrive/ui/qt/onroad/onroad_home.cc
Due: cppcheck

update
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
Due: cppcheck

update
  selfdrive/car/card.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/selfdrived/events.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/ui/qt/onroad/model.cc
Due: mypy, cppcheck

UPDATE
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

Update log.capnp
  cereal/log.capnp
Due: none

update
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
Due: mypy

Revert "update"
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
Due: mypy

Update launch_env.sh
  launch_env.sh
Due: none

fc-model
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
Due: mypy

Update sidebar.cc
  selfdrive/ui/qt/sidebar.cc
Due: cppcheck

Update buttons.cc
  selfdrive/ui/qt/onroad/buttons.cc
Due: cppcheck

Revert "fc-model"
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
Due: mypy

dr_model
  selfdrive/modeld/models/supercombo.onnx
Due: none

np_model
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
Due: mypy

Revert "np_model"
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
Due: mypy

update
  selfdrive/controls/lib/drive_helpers.py
Due: mypy
