Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=420']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)|(selfdrive/mapd/test/.*.xml)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+whitespace/parens,+whitespace/semicolon,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

cydia
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/toyotacan.py
Due: mypy

update
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: mypy, cppcheck

Update annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.cc
Due: cppcheck

Update log.capnp
  cereal/log.capnp
Due: none

update
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

update tune
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/toyotacan.py
Due: mypy

update
  selfdrive/controls/alt_driving_personality_controller.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  pyproject.toml
  uv.lock
Due: none

Update main_es.ts
  selfdrive/ui/translations/main_es.ts
Due: none

update
  selfdrive/locationd/paramsd.py
Due: mypy

Update paramsd.py
  selfdrive/locationd/paramsd.py
Due: mypy

Update alt_driving_personality_controller.py
  selfdrive/controls/alt_driving_personality_controller.py
Due: mypy

Update card.py
  selfdrive/car/card.py
Due: mypy

update
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
Due: mypy

Update carcontroller.py
  selfdrive/car/toyota/carcontroller.py
Due: mypy

update
  .gitmodules
Due: none

Update build_devel.sh
  release/build_devel.sh
Due: none

Update release_files.py
  release/release_files.py
Due: mypy

Revert "Update release_files.py"
  release/release_files.py
Due: mypy

update
  release/build_devel.sh
  release/release_files.py
Due: mypy

Update car_helpers.py
  selfdrive/car/car_helpers.py
Due: mypy

UPDATE
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update
  .importlinter
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update lint.sh
  scripts/lint.sh
Due: none
