Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Update registration.py
  system/athena/registration.py
Due: mypy

0.9.8 hotfixes
  Jenkinsfile
  launch_chffrplus.sh
  launch_env.sh
  selfdrive/selfdrived/selfdrived.py
  selfdrive/test/test_onroad.py
  system/camerad/sensors/ox03c10_registers.h
  system/hardware/tici/agnos.json
  system/hardware/tici/all-partitions.json
Due: mypy, cppcheck

UPDATE
  common/version.h
  top/selfdrive/controls/lib/accel_personality/accel_controller.py
Due: mypy, cppcheck

update
  selfdrive/car/card.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

update
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  top/selfdrive/controls/lib/accel_personality/accel_controller.py
Due: mypy

Update version.h
  common/version.h
Due: cppcheck

update
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update longitudinal_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update main_de.ts
  selfdrive/ui/translations/main_de.ts
Due: none

update
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/locationd/torqued.py
  selfdrive/modeld/modeld.py
  selfdrive/test/process_replay/process_replay.py
Due: mypy

standstill e2e
  common/params_keys.h
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, cppcheck

standstill e2e update
  common/params_keys.h
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, cppcheck

UPDATE
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/modeld/modeld.py
Due: mypy

sng_e2e
  common/params_keys.h
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  system/manager/manager.py
Due: mypy, cppcheck

sng_e2e_2
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

UPDATE
  selfdrive/car/card.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/car/tests/test_models.py
Due: mypy

update
  cereal/log.capnp
  common/version.h
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/selfdrived/selfdrived.py
Due: mypy, cppcheck

update
  selfdrive/modeld/modeld.py
Due: mypy

Update longcontrol.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
