Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

update
  release/files_common
  release/release_files.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Revert - ubuntu: remove extra packages
  Dockerfile.openpilot_base
  tools/install_ubuntu_dependencies.sh
Due: none

update
  tools/install_ubuntu_dependencies.sh
Due: none

update
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
Due: cppcheck

UPDATE
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
Due: cppcheck

Update map_renderer.cc
  selfdrive/navd/map_renderer.cc
Due: cppcheck

Revert "Update map_renderer.cc"
  selfdrive/navd/map_renderer.cc
Due: cppcheck

UPDATE
  selfdrive/car/card.py
  selfdrive/car/cruise.py
Due: mypy

update
  cereal/car.capnp
  scripts/lint/lint.sh
Due: none

update
  cereal/car.capnp
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/controls/controlsd.py
  selfdrive/ui/ui.cc
Due: mypy, cppcheck

Update
  selfdrive/ui/qt/onroad/onroad_home.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

update
  selfdrive/controls/lib/events.py
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: mypy, cppcheck

UPDATE
  selfdrive/locationd/paramsd.py
  selfdrive/navd/navd.py
  selfdrive/navd/tests/test_map_renderer.py
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
  selfdrive/ui/ui.cc
Due: mypy, cppcheck

update
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
Due: cppcheck

UPDATE
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
Due: cppcheck

UPDATE
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
Due: cppcheck

Update map_helpers.h
  selfdrive/ui/qt/maps/map_helpers.h
Due: cppcheck

update
  selfdrive/ui/qt/maps/map_helpers.cc
Due: cppcheck

update
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map_helpers.cc
Due: cppcheck

update
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
Due: cppcheck

update
  Dockerfile.openpilot_base
  SConstruct
  common/mock/generators.py
Due: mypy

update
  selfdrive/navd/SConscript
  selfdrive/navd/main.cc
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
  selfdrive/navd/set_destination.py
  selfdrive/navd/style.json
  selfdrive/navd/tests/test_map_renderer.py
Due: mypy, cppcheck

Update SConscript
  selfdrive/SConscript
Due: none

Update ui.cc
  selfdrive/ui/ui.cc
Due: cppcheck

Update
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Due: cppcheck

Update myqrcodes.h
  selfdrive/ui/qt/widgets/myqrcodes.h
Due: cppcheck

Update home.cc
  selfdrive/ui/qt/home.cc
Due: cppcheck

Update launch_chffrplus.sh
  launch_chffrplus.sh
Due: none

update
  force_car_recognition.py
  launch_chffrplus.sh
  selfdrive/car/top_tmp/tmp
Due: mypy

update
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

Revert "Update home.cc"
  selfdrive/ui/qt/home.cc
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
