Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

update
  common/params_keys.h
  system/manager/process_config.py
Due: mypy, cppcheck

update
  common/params_keys.h
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/ui/qt/offroad/software_settings.cc
  system/hardware/hardwared.py
  system/updated/updated.py
  system/version.py
Due: mypy, cppcheck

update
  system/updated/updated.py
  system/version.py
Due: mypy

protect
  common/params_keys.h
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/ui/qt/offroad/software_settings.cc
  system/hardware/hardwared.py
  system/updated/updated.py
  system/version.py
Due: mypy, cppcheck

update
  system/updated/updated.py
Due: mypy

protect
  selfdrive/selfdrived/alerts_offroad.json
Due: none

Update accel_profiles.py
  top/selfdrive/controls/lib/accel_personality/accel_profiles.py
Due: mypy

branch protect
  common/params_keys.h
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/ui/qt/offroad/software_settings.cc
  system/hardware/hardwared.py
  system/updated/updated.py
  system/version.py
Due: mypy, cppcheck

revert for c3
  .gitmodules
  Jenkinsfile
  README.md
  common/params_keys.h
  common/version.h
  docs/CONTRIBUTING.md
  docs/how-to/connect-to-comma.md
  docs/how-to/replay-a-drive.md
  docs/how-to/turn-the-speed-blue.md
  launch_env.sh
  launch_openpilot.sh
  mkdocs.yml
  selfdrive/pandad/pandad.py
  selfdrive/pandad/tests/bootstub.panda.bin
  selfdrive/pandad/tests/test_pandad.py
  selfdrive/pandad/tests/test_pandad_spi.py
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/selfdrived/selfdrived.py
  selfdrive/test/test_onroad.py
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/ui.cc
  selfdrive/ui/ui_state.py
  system/camerad/SConscript
  system/camerad/cameras/hw.h
  system/camerad/cameras/spectra.cc
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/ar0231_registers.h
  system/camerad/sensors/sensor.h
  system/hardware/hardwared.py
  system/hardware/tici/agnos.json
  system/hardware/tici/all-partitions.json
  system/hardware/tici/amplifier.py
  system/hardware/tici/hardware.py
  system/hardware/tici/pins.py
  system/hardware/tici/tests/test_power_draw.py
  system/ui/reset.py
  system/updated/updated.py
Due: mypy, cppcheck

kaitaistruct
  common/params_keys.h
  launch_chffrplus.sh
  system/manager/process_config.py
Due: mypy, cppcheck

mod drive mode
  selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/accel_personality/accel_controller.py
  top/selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update driving_policy.onnx
  selfdrive/modeld/models/driving_policy.onnx
Due: none

nevada
  selfdrive/modeld/models/driving_policy.onnx
Due: none

update
  tools/jotpluggler/assets/pause.png
  tools/jotpluggler/assets/play.png
  tools/jotpluggler/assets/plus.png
  tools/jotpluggler/assets/split_h.png
  tools/jotpluggler/assets/split_v.png
  tools/jotpluggler/assets/x.png
Due: none

update
  uv.lock
Due: none

Update params_keys.h
  common/params_keys.h
Due: cppcheck

remove jetson
  common/params_keys.h
  selfdrive/pandad/pandad.cc
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  selfdrive/ui/qt/onroad/onroad_home.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
  system/manager/manager.py
Due: mypy, cppcheck

update
  selfdrive/selfdrived/selfdrived.py
Due: mypy

TSS-P Tune
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
