Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
        exclude: '^(third_party)/'
    -   id: check-json
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=420']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
        exclude: '^(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(selfdrive/ui/translations/.*.ts)|(poetry.lock)|(selfdrive/mapd/test/.*.xml)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup,bumb,nd,sie
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ['--explicit-package-bases']
        exclude: '^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
    -   id: ruff
        exclude: '^(third_party/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        exclude: '^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(generated/)'
        args:
        - --quiet
        - --counting=total
        - --linelength=240
        # https://google.github.io/styleguide/cppguide.html
        # relevant rules are whitelisted, see all options with: cpplint --filter=
        - --filter=-build,-legal,-readability,-runtime,-whitespace,+build/forward_decl,+build/include_what_you_use,+build/deprecated,+whitespace/line_length,+whitespace/empty_if_body,+whitespace/empty_loop_body,+whitespace/empty_conditional_body,+whitespace/parens,+whitespace/semicolon,+readability/braces
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false
-   repo: https://github.com/python-poetry/poetry
    rev: '1.6.0'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
        name: validate poetry lock
        args:
        - --check

Revert "jenkins: run pandad test once"
  Jenkinsfile
Due: none

Revert "jenkins: tizi loopback device"
  Jenkinsfile
Due: none

Revert "jenkins: tizi ox"
  Jenkinsfile
Due: none

Revert "camerad: remove AR0231 (#36070)"
  system/camerad/SConscript
  system/camerad/cameras/spectra.cc
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/ar0231_registers.h
  system/camerad/sensors/sensor.h
Due: cppcheck

Revert "jenkins: replace tici-common (#36073)"
  Jenkinsfile
  system/hardware/tici/tests/test_power_draw.py
Due: mypy

Revert "jenkins: remove ar device"
  Jenkinsfile
Due: none

Revert "jenkins: sensord device"
  Jenkinsfile
Due: none

Revert "jenkins: tizi-replay"
  Jenkinsfile
Due: none

Revert "jenkins: remove bmx device"
  Jenkinsfile
Due: none

Revert "AGNOS 13 (#36069)"
  launch_env.sh
  system/hardware/tici/agnos.json
  system/hardware/tici/all-partitions.json
Due: none

Revert "ci: modernize test onroad (#36059)"
  Jenkinsfile
  selfdrive/test/test_onroad.py
Due: mypy

update
  selfdrive/selfdrived/selfdrived.py
Due: mypy

update
  uv.lock
Due: none

update
  selfdrive/car/card.py
  selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/accel_personality/accel_profiles.py
Due: mypy

CarModel update
  launch_env.sh
Due: none

update
  selfdrive/car/card.py
Due: mypy

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

update
  common/version.h
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Due: cppcheck

update bd
  common/version.h
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Due: cppcheck

Revert "Update long_mpc.py"
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

no C3
  launch_openpilot.sh
Due: none

update
  cereal/log.capnp
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  top/selfdrive/car/__init__.py
  top/selfdrive/car/cruise_helpers.py
Due: mypy

update
  top/selfdrive/car/cruise_helpers.py
Due: mypy

Update cruise_helpers.py
  top/selfdrive/car/cruise_helpers.py
Due: mypy

ex
  cereal/log.capnp
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  top/selfdrive/car/__init__.py
  top/selfdrive/car/cruise_helpers.py
Due: mypy

revert for c3
  Jenkinsfile
  README.md
  common/params_keys.h
  common/version.h
  docs/CONTRIBUTING.md
  docs/how-to/connect-to-comma.md
  docs/how-to/replay-a-drive.md
  docs/how-to/turn-the-speed-blue.md
  launch_env.sh
  launch_openpilot.sh
  mkdocs.yml
  selfdrive/pandad/pandad.py
  selfdrive/pandad/tests/bootstub.panda.bin
  selfdrive/pandad/tests/test_pandad.py
  selfdrive/pandad/tests/test_pandad_spi.py
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/selfdrived/selfdrived.py
  selfdrive/test/test_onroad.py
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/ui.cc
  selfdrive/ui/ui_state.py
  system/camerad/SConscript
  system/camerad/cameras/hw.h
  system/camerad/cameras/spectra.cc
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/ar0231_registers.h
  system/camerad/sensors/sensor.h
  system/hardware/hardwared.py
  system/hardware/tici/agnos.json
  system/hardware/tici/all-partitions.json
  system/hardware/tici/amplifier.py
  system/hardware/tici/hardware.py
  system/hardware/tici/pins.py
  system/hardware/tici/tests/test_power_draw.py
  system/ui/reset.py
  system/updated/updated.py
Due: mypy, cppcheck

Update accel_profiles.py
  top/selfdrive/controls/lib/accel_personality/accel_profiles.py
Due: mypy

update
  .gitmodules
Due: none

update
  launch_chffrplus.sh
Due: none
