Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

UPDATE
  selfdrive/car/README.MD
  selfdrive/car/torque_data/params.toml
  selfdrive/car/torque_data/substitute.toml
  selfdrive/ui/qt/onroad.h
Due: cppcheck

update
  selfdrive/assets/aggressive.png
  selfdrive/assets/bg.jpg
  selfdrive/assets/images/button_home.png
  selfdrive/assets/images/tim_turn_signal_1.png
  selfdrive/assets/images/tim_turn_signal_1_red.png
  selfdrive/assets/images/tim_turn_signal_2.png
  selfdrive/assets/images/tim_turn_signal_3.png
  selfdrive/assets/images/tim_turn_signal_4.png
  selfdrive/assets/img_spinner_comma.png
  selfdrive/assets/relaxed.png
  selfdrive/assets/standard.png
Due: none

update
  launch_chffrplus.sh
Due: none

update
  poetry.lock
  pyproject.toml
  selfdrive/assets/bg.jpg
  selfdrive/assets/img_spinner_comma.png
Due: none

Update process_config.py
  selfdrive/manager/process_config.py
Due: mypy

UPDATE
  selfdrive/assets/aggressive.png
  selfdrive/assets/bg.jpg
  selfdrive/assets/images/button_home.png
  selfdrive/assets/img_spinner_comma.png
  selfdrive/assets/relaxed.png
  selfdrive/assets/standard.png
Due: none

update
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/toyotacan.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update carstate.py
  selfdrive/car/toyota/carstate.py
Due: mypy

update
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/assets/images/tim_turn_signal_1.png
  selfdrive/assets/images/tim_turn_signal_1_red.png
  selfdrive/assets/images/tim_turn_signal_2.png
  selfdrive/assets/images/tim_turn_signal_3.png
  selfdrive/assets/images/tim_turn_signal_4.png
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

Update onroad.cc
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

UPDATE
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

update
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

Update onroad.h
  selfdrive/ui/qt/onroad.h
Due: cppcheck

update
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

Revert "Update carstate.py"
  selfdrive/car/toyota/carstate.py
Due: mypy

update
  common/params.cc
  common/params.h
  common/params.py
  common/params_pyx.pyx
  common/tests/test_params.cc
  common/tests/test_params.py
  selfdrive/car/toyota/carstate.py
  selfdrive/controls/controlsd.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/paramsd.py
  selfdrive/locationd/test/test_locationd.py
  selfdrive/manager/manager.py
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/navd/navd.py
  selfdrive/test/process_replay/migration.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/thermald.py
  system/loggerd/uploader.py
  system/logmessaged.py
  system/micd.py
  system/sensord/pigeond.py
Due: mypy, cppcheck

update
  common/params.cc
  common/params.h
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

Update params_pyx.pyx
  common/params_pyx.pyx
Due: none

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

UPDATE
  selfdrive/controls/controlsd.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/test/test_locationd.py
  selfdrive/manager/manager.py
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/navd/navd.py
  selfdrive/test/process_replay/migration.py
  selfdrive/thermald/thermald.py
  system/loggerd/uploader.py
  system/logmessaged.py
  system/micd.py
  system/sensord/pigeond.py
Due: mypy

update
  common/version.h
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/manager/manager.py
  selfdrive/sentry.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/sidebar.cc
Due: mypy, cppcheck

update
  selfdrive/controls/controlsd.py
Due: mypy

update
  selfdrive/controls/lib/events.py
Due: mypy

Update selfdrive_tests.yaml
  .github/workflows/selfdrive_tests.yaml
Due: none

update
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

update
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
