Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

translations
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/osm_panel.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.h
  selfdrive/ui/qt/widgets/controls.h
Due: cppcheck

update
  cereal/log.capnp
  selfdrive/controls/tests/test_torqued_lat_accel_offset.py
  selfdrive/locationd/locationd.py
  selfdrive/locationd/models/pose_kf.py
  selfdrive/locationd/paramsd.py
  selfdrive/locationd/test/test_locationd_scenarios.py
  selfdrive/locationd/torqued.py
  selfdrive/test/process_replay/migration.py
Due: mypy

update
  selfdrive/modeld/parse_model_outputs.py
Due: mypy

Update modeld.py
  selfdrive/modeld/modeld.py
Due: mypy

Update version.h
  common/version.h
Due: cppcheck

modeld: frame delay
  selfdrive/modeld/modeld.py
Due: mypy

OP Model
  common/version.h
  scripts/reporter.py
  selfdrive/modeld/SConscript
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/big_driving_policy.onnx
  selfdrive/modeld/models/big_driving_vision.onnx
  selfdrive/modeld/models/driving_off_policy.onnx
  selfdrive/modeld/models/driving_on_policy.onnx
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
  selfdrive/modeld/parse_model_outputs.py
Due: mypy, cppcheck

Long policy: less creepy
  selfdrive/controls/lib/drive_helpers.py
Due: mypy

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

OP8
  common/version.h
  selfdrive/modeld/models/driving_off_policy.onnx
  selfdrive/modeld/models/driving_on_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Due: cppcheck

Update controlsd.py
  selfdrive/controls/controlsd.py
Due: mypy

update
  common/params_keys.h
  selfdrive/controls/controlsd.py
Due: mypy, cppcheck

update
  common/params_keys.h
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/locationd/torqued.py
Due: mypy, cppcheck

Update latcontrol_torque.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

DisableLagLearning
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/locationd/lagd.py
  selfdrive/locationd/torqued.py
Due: mypy

DisableLagLearning
  common/params_keys.h
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/locationd/lagd.py
  selfdrive/locationd/torqued.py
Due: mypy, cppcheck

reset calibration
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
