Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Squashed commit of the following:
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/ui/qt/offroad/osm_panel.cc
  selfdrive/ui/qt/offroad/osm_panel.h
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  tools/mac_setup.sh
  top/__init__.py
  top/mapd/live_map_data/base_map_data.py
  top/mapd/mapd_installer.py
  top/mapd/tests/__init__.py
  top/mapd/tests/mapd_hash
  top/mapd/tests/test_mapd_version.py
  top/mapd/update_version.py
  top/mapd/version.py
Due: mypy, cppcheck

Add O3 support
  launch_chffrplus.sh
  selfdrive/pandad/pandad.cc
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
  system/athena/registration.py
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/hw.h
  system/hardware/hardwared.py
  system/hardware/tici/hardware.py
  system/loggerd/loggerd.cc
  system/loggerd/loggerd.h
  system/manager/manager.py
  system/manager/process_config.py
Due: mypy, cppcheck

tcp model
  common/version.h
  selfdrive/modeld/models/driving_policy.onnx
  selfdrive/modeld/models/driving_vision.onnx
Due: cppcheck

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Update cruise.py
  selfdrive/car/cruise.py
Due: mypy

Update
  common/version.h
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy, cppcheck

update
  common/version.h
Due: cppcheck

flash panda
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  top/system/flash_panda.py
Due: mypy, cppcheck

update
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  top/system/flash_panda.py
Due: mypy, cppcheck

update
  top/system/verify_panda_flash.sh
Due: none

Update verify_panda_flash.sh
  top/system/verify_panda_flash.sh
Due: none

update
  selfdrive/ui/qt/offroad/settings.cc
  top/system/verify_panda_flash.sh
Due: cppcheck

update
  selfdrive/ui/qt/offroad/settings.cc
  top/system/flash_panda.py
  top/system/verify_panda_flash.sh
Due: mypy, cppcheck

Update flash_panda.py
  top/system/flash_panda.py
Due: mypy

update
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

Update main_zh-CHT.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

flash panda
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  top/system/flash_panda.py
Due: mypy, cppcheck

update
  top/system/flash_panda.py
Due: mypy

Update .gitattributes
  .gitattributes
Due: none

Update SConscript
  selfdrive/SConscript
Due: none

Revert "Multilang: remove main prefix (#36406)"
  common/params_keys.h
  selfdrive/ui/.gitignore
  selfdrive/ui/tests/create_test_translations.sh
  selfdrive/ui/tests/test_runner.cc
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/auto_translate.py
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_en.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_nl.ts
  selfdrive/ui/translations/main_pl.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/update_translations.py
Due: mypy, cppcheck

Update test_alerts.py
  selfdrive/selfdrived/tests/test_alerts.py
Due: mypy

Revert "raylib: wrap text for multilang (#36410)"
  selfdrive/ui/layouts/home.py
  selfdrive/ui/layouts/onboarding.py
  selfdrive/ui/layouts/settings/developer.py
  selfdrive/ui/layouts/settings/device.py
  selfdrive/ui/layouts/settings/firehose.py
  selfdrive/ui/layouts/settings/settings.py
  selfdrive/ui/layouts/settings/software.py
  selfdrive/ui/layouts/settings/toggles.py
  selfdrive/ui/layouts/sidebar.py
  selfdrive/ui/onroad/alert_renderer.py
  selfdrive/ui/onroad/driver_camera_dialog.py
  selfdrive/ui/onroad/hud_renderer.py
  selfdrive/ui/update_translations.py
  selfdrive/ui/widgets/exp_mode_button.py
  selfdrive/ui/widgets/offroad_alerts.py
  selfdrive/ui/widgets/pairing_dialog.py
  selfdrive/ui/widgets/prime.py
  selfdrive/ui/widgets/setup.py
  selfdrive/ui/widgets/ssh_key.py
  system/ui/lib/multilang.py
  system/ui/widgets/confirm_dialog.py
  system/ui/widgets/html_render.py
  system/ui/widgets/keyboard.py
  system/ui/widgets/list_view.py
  system/ui/widgets/network.py
  system/ui/widgets/option_dialog.py
Due: mypy

Revert "bump retry count for `micd` and `soundd` (#36415)"
  selfdrive/ui/soundd.py
  system/micd.py
Due: mypy

Revert "raylib:use context manager for BytesIO (#36407)"
  system/ui/lib/emoji.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
