Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

TSS-P Tune
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

Update main_zh-CHT.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

mapd
  cereal/custom.capnp
  cereal/log.capnp
  cereal/services.py
  common/params_keys.h
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/SConscript
  selfdrive/ui/qt/common/json_fetcher.h
  selfdrive/ui/qt/offroad/osm/locations_fetcher.h
  selfdrive/ui/qt/offroad/osm/models_fetcher.cc
  selfdrive/ui/qt/offroad/osm/models_fetcher.h
  selfdrive/ui/qt/offroad/osm_panel.cc
  selfdrive/ui/qt/offroad/osm_panel.h
  selfdrive/ui/qt/offroad/settings.cc
  system/hardware/hw.py
  system/manager/process_config.py
  third_party/mapd_pfeiferj/README.md
  third_party/mapd_pfeiferj/mapd
  top/mapd/__init__.py
  top/mapd/live_map_data/__init__.py
  top/mapd/live_map_data/base_map_data.py
  top/mapd/live_map_data/debug.py
  top/mapd/live_map_data/osm_map_data.py
  top/mapd/live_map_data/standalone.py
  top/mapd/mapd_installer.py
  top/mapd/mapd_manager.py
  top/navd/helpers.py
  top/selfdrive/assets/offroad/icon_map.png
Due: mypy, cppcheck

drawRoadName
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  selfdrive/ui/ui.cc
Due: cppcheck

Update params_keys.h
  common/params_keys.h
Due: cppcheck

Update hud.cc
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

translations
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

update translations
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

update mapd
  top/mapd/live_map_data/base_map_data.py
  top/mapd/live_map_data/osm_map_data.py
Due: mypy

Smart Cruise Control: Vision (SCC-V)
  cereal/custom.capnp
  common/params_keys.h
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/vtsc.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/smart_cruise_control/__init__.py
  top/selfdrive/controls/lib/smart_cruise_control/smart_cruise_control.py
  top/selfdrive/controls/lib/smart_cruise_control/tests/test_vision_controller.py
  top/selfdrive/controls/lib/smart_cruise_control/vision_controller.py
Due: mypy, cppcheck

update
  common/params_keys.h
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/smart_cruise_control/vision_controller.py
Due: mypy, cppcheck

Update vision_controller.py
  top/selfdrive/controls/lib/smart_cruise_control/vision_controller.py
Due: mypy

Update ui.cc
  selfdrive/ui/ui.cc
Due: cppcheck

Smart Cruise Control: Vision (SCC-V)
  cereal/custom.capnp
  common/params_keys.h
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/vtsc.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  selfdrive/ui/ui.cc
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/smart_cruise_control/__init__.py
  top/selfdrive/controls/lib/smart_cruise_control/smart_cruise_control.py
  top/selfdrive/controls/lib/smart_cruise_control/tests/test_vision_controller.py
  top/selfdrive/controls/lib/smart_cruise_control/vision_controller.py
Due: mypy, cppcheck

Update accel_profiles.py
  top/selfdrive/controls/lib/accel_personality/accel_profiles.py
Due: mypy

SLC
  cereal/custom.capnp
  cereal/log.capnp
  cereal/services.py
  common/params_keys.h
  common/util.h
  selfdrive/controls/plannerd.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/ui/SConscript
  selfdrive/ui/qt/offroad/osm_panel.cc
  selfdrive/ui/qt/offroad/osm_panel.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/offroad/speed_limit/helpers.h
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_policy.cc
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_policy.h
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.cc
  selfdrive/ui/qt/offroad/speed_limit/speed_limit_settings.h
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
  top/mapd/live_map_data/debug.py
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/speed_limit/__init__.py
  top/selfdrive/controls/lib/speed_limit/common.py
  top/selfdrive/controls/lib/speed_limit/speed_limit_resolver.py
  top/selfdrive/controls/lib/speed_limit/tests/__init__.py
  top/selfdrive/controls/lib/speed_limit/tests/test_speed_limit_resolver.py
Due: mypy, cppcheck

MTSC
  cereal/custom.capnp
  common/params_keys.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad/hud.cc
  selfdrive/ui/qt/onroad/hud.h
  top/selfdrive/controls/lib/longitudinal_planner.py
  top/selfdrive/controls/lib/smart_cruise_control/map_controller.py
  top/selfdrive/controls/lib/smart_cruise_control/smart_cruise_control.py
  top/selfdrive/controls/lib/smart_cruise_control/tests/test_map_controller.py
Due: mypy, cppcheck

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Update longitudinal_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
