Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update lint.sh
  scripts/lint.sh
Due: none

Update car.capnp
  cereal/car.capnp
Due: none

Update latcontrol_torque.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

UPDATE
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update longitudinal_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

UPDATE
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

update
  common/params.cc
  selfdrive/controls/lib/longitudinal_planner.py
  system/manager/manager.py
Due: mypy, cppcheck

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

Update CV
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/radard.py
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/modeld/parse_model_outputs.py
Due: mypy

tune
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update longcontrol.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

Update controlsd.py
  selfdrive/controls/controlsd.py
Due: mypy

Update supercombo.onnx
  selfdrive/modeld/models/supercombo.onnx
Due: none

UPDATE
  selfdrive/car/card.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

UPDATE
  selfdrive/car/card.py
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/radard.py
  selfdrive/modeld/models/supercombo.onnx
Due: mypy

update
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/models/supercombo.onnx
Due: mypy

update
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/models/supercombo.onnx
Due: mypy

update
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/process_replay/model_replay_ref_commit
  selfdrive/test/process_replay/ref_commit
Due: mypy

update
  selfdrive/car/toyota/interface.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

UPDATE
  selfdrive/modeld/constants.py
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: mypy

UPDATE
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

update
  common/params.cc
  selfdrive/car/card.py
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/toyotacan.py
  selfdrive/car/toyota/values.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  system/manager/manager.py
Due: mypy, cppcheck

Update toyotacan.py
  selfdrive/car/toyota/toyotacan.py
Due: mypy

remove alt_driving_personality
  common/params.cc
  selfdrive/controls/alt_driving_personality_controller.py
  selfdrive/controls/lib/longitudinal_planner.py
  system/manager/manager.py
Due: mypy, cppcheck

Update .importlinter
  .importlinter
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
