Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update accel_profiles.py
  top/selfdrive/controls/lib/accel_personality/accel_profiles.py
Due: mypy

Update sidebar.cc
  selfdrive/ui/qt/sidebar.cc
Due: cppcheck

Update latcontrol_torque.py
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

update
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Revert "Update latcontrol_torque.py"
  selfdrive/controls/lib/latcontrol_torque.py
Due: mypy

update
  top/selfdrive/controls/lib/accel_personality/accel_profiles.py
Due: mypy

Delete dl_m.py
  dl_m.py
Due: mypy

Revert "Update accel_profiles.py"
  top/selfdrive/controls/lib/accel_personality/accel_profiles.py
Due: mypy

Revert "remove tici-specific code (#36078)"
  README.md
  common/params_keys.h
  docs/CONTRIBUTING.md
  docs/how-to/connect-to-comma.md
  docs/how-to/replay-a-drive.md
  docs/how-to/turn-the-speed-blue.md
  mkdocs.yml
  selfdrive/pandad/pandad.py
  selfdrive/pandad/tests/bootstub.panda.bin
  selfdrive/pandad/tests/test_pandad.py
  selfdrive/pandad/tests/test_pandad_spi.py
  selfdrive/selfdrived/alerts_offroad.json
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/tests/test_ui/run.py
  selfdrive/ui/ui.cc
  selfdrive/ui/ui_state.py
  system/camerad/cameras/hw.h
  system/hardware/hardwared.py
  system/hardware/tici/amplifier.py
  system/hardware/tici/hardware.py
  system/hardware/tici/pins.py
  system/ui/reset.py
  system/updated/updated.py
Due: mypy, cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
