Repository tto1979/openpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update athenad.py
  system/athena/athenad.py
Due: mypy

update
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

update
  .github/workflows/selfdrive_tests.yaml
Due: none

UPDATE
  .github/workflows/selfdrive_tests.yaml
Due: none

Update long_mpc.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
Due: mypy

new api
  cereal/log.capnp
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

tune
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update tune
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update longitudinal_planner.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Update hud.cc
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Update log.capnp
  cereal/log.capnp
Due: none

update
  launch_env.sh
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(third_party/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
